@{
    ViewData["Title"] = "Home Page";
}

<div class="position-absolute vh-100 vw-100 d-flex justify-content-center align-items-center" style="top: 0; left: 0;">
    <!-- Primera imagen -->
    <img id="fondo2" class="position-absolute fixed-top start-0 vw-100 vh-100" src="https://fotografias.antena3.com/clipping/cmsimages02/2020/01/10/ABE9B428-C9D0-4676-80E0-D1E512848828/57.jpg" style="z-index: -1">
    
    <!-- Segunda imagen -->
    <img id="fondo1" class="position-absolute fixed-top start-0 vw-100 vh-100" src="https://store-images.s-microsoft.com/image/apps.29865.14573449505340069.0f503adc-58ce-4d41-a12d-792f97d4a1c0.39c05ae6-8cdd-4ac0-8e1e-bdcf27a95413" style="z-index: 0">
    
    <button type="button" id="btnJugar" class="btn btn-success btn-lg position-relative" style="margin-top: 7%; margin-left: -1%;" onclick="transicion()">Play</button>

    <form method="POST" action='@Url.Action("IniciarJuego", "Home")' class="d-none" id="form">
        <div class="row pt-2 pb-2 align-items-center rounded" style="background: rgb(255,255,255); background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(157,153,208,1) 100%);">
            <div class="col-auto">
                <label for="inputNombre" class="col-form-label">Name</label>
            </div>
            <div class="col-auto">
                <input type="text" name="nombre" class="form-control" aria-describedby="passwordHelpInline">
            </div>
        </div>
        <div class="row pt-1 align-items-center">
            <div class="col-auto mx-auto">
                <button type="submit" class="btn btn-success btn-lg" >Start!</button>
            </div>
        </div>
    </form>

    <div id="podio" class="d-none position-relative ml-5" style="display: flex; min-width: 10%; max-width: 30%;">
        <div class="row bg-trasparent">
            <div class="col bg-primary" style="max-width: 30%;">
                Historical podium of players:
            </div>
            <div class="w-100 mb-1"></div>
            @foreach(Jugador jug in @ViewBag.Podio)
            {
                <div class="col rounded bg-light" style="max-width: 5%;">
                    @jug.Nombre
                </div>
                <div class="col rounded text-center bg-light" style="max-width: 25%;">
                    $@jug.PozoGanado
                </div>
                <div class="w-100 mb-1"></div>
            }
        </div>
    </div>

    <script>
        function transicion()
        {
            $("#btnJugar").css("display", "none");
            $("#fondo1").fadeOut(function() {});
            $("#btnJugar").fadeOut(function() {
                $("#form").fadeIn(250, function(){
                    $("#form").removeClass("d-none");
                    //$("#form").css("display", "inline-block");
                });
                $("#podio").fadeIn(250, function(){
                    $("#podio").removeClass("d-none");
                })
            });
        }
    </script>
</div>
