<img class="position-absolute fixed-top start-0 vw-100 vh-100" style="z-index: -1;" id="fondo" src="https://fotografias.antena3.com/clipping/cmsimages02/2020/01/10/ABE9B428-C9D0-4676-80E0-D1E512848828/57.jpg">

<div class="d-flex flex-column vh-100 justify-content-center align-items-center">
    <img class="w-50 h-auto" style="margin-top: -8%" id="logoQQSM" src="/image/QQSMLogo.png">

    <div id="TextoPregunta" class="d-flex pl-2 pr-2 mt-3 mb-3 justify-content-center align-items-center text-center rounded-pill">
        @if(@ViewBag.Pozo == 0)
        {
            <p>What a pity, you lost! For next time you are going to be a real millionare!</p>
        } else {
            <p>Congratulations, you won $@ViewBag.Pozo! You can play again if you wish.</p>
        }
    </div>
    
    <a class="btn btn-success" href='@Url.Action("ReiniciarPartida", "Home")'>
        Restart!!
    </a>

    <!-- <div class="d-inline-flex p-2" style="margin-top: -5%">
        <img src="https://c.tenor.com/b6ymPWEJEAIAAAAd/cat-dance.gif">
        <p>Congrats for playing @ViewBag.Nombre</p>
    </div> -->
</div>
